.border-top{
    border-top: 1px solid #dee2e6;
    padding-top:15px
}
legend {
    width: auto !important;
    text-align: left !important;
    font-size: 1.2rem !important;
    margin-left: 30px;
}
.percentage-div{
    font-size: 18px;
    color: limegreen;
    font-weight: bold;
}
.color-red{
    color: red;
}
.custom_slider_popup1 {
    width: 33vw !important;
}
.h-70vh{
    height: 70vh !important;
}
.tab-scrollable {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: black;
}