<kendo-tabstrip (tabSelect)="onTabSelect($event)"  #tabstrip [keepTabContent]="true">
    <kendo-tabstrip-tab class="text-success" [title]="'FUEL/OIL'" [selected]="true">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isAllFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isAllFilled" class="text-danger iconSize"></kendo-icon>
            FUEL/OIL
        </ng-template> <ng-template kendoTabContent>
            <app-fuel-oil-techcheck (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-fuel-oil-techcheck>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'COOLING'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isCOOLINGFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isCOOLINGFilled" class="text-danger iconSize"></kendo-icon>
            COOLING
        </ng-template> <ng-template kendoTabContent>
            <app-cooling-techcheck (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-cooling-techcheck>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'BATTERY'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isBATTERYFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isBATTERYFilled" class="text-danger iconSize"></kendo-icon>
            BATTERY
        </ng-template><ng-template kendoTabContent>
            <app-battery-techcheck (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-battery-techcheck>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'ELECTRICAL'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isELECTRICALFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isELECTRICALFilled" class="text-danger iconSize"></kendo-icon>
            ELECTRICAL
        </ng-template><ng-template kendoTabContent>
            <app-electrical-techcheck (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-electrical-techcheck>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'ENGINE PANEL'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isENGINEFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isENGINEFilled" class="text-danger iconSize"></kendo-icon>
            ENGINE PANEL
        </ng-template><ng-template kendoTabContent>
            <app-engine-techcheck (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-engine-techcheck>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'CENTRIFUGAL PUMP'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isCENTRIFUGALFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isCENTRIFUGALFilled" class="text-danger iconSize"></kendo-icon>
            CENTRIFUGAL PUMP
        </ng-template>  <ng-template kendoTabContent>
            <app-centrifugal-pump (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-centrifugal-pump>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'TRAILER'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isTRAILERFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isTRAILERFilled" class="text-danger iconSize"></kendo-icon>
            TRAILER
        </ng-template> <ng-template kendoTabContent>
            <app-trailer-techcheck (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-trailer-techcheck>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'COUPLER/ALIGN/CHECK VALVE'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isCOUPLERFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isCOUPLERFilled" class="text-danger iconSize"></kendo-icon>
            COUPLER/ALIGN/CHECK VALVE
        </ng-template><ng-template kendoTabContent>
            <app-coupler-align-check (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-coupler-align-check>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'EXHAUST/VAC TEST'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isEXHAUSTFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isEXHAUSTFilled" class="text-danger iconSize"></kendo-icon>
            EXHAUST/VAC TEST
        </ng-template><ng-template kendoTabContent>
            <app-exhaust-techcheck (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-exhaust-techcheck>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'COMMENTS'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isCOMMENTSFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isCOMMENTSFilled" class="text-danger iconSize"></kendo-icon>
            COMMENTS
        </ng-template><ng-template kendoTabContent>
            <app-comments-techcheck (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-comments-techcheck>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'AIR SEPERATION/RECLAIMER TANK'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isAIRFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isAIRFilled" class="text-danger iconSize"></kendo-icon>
            AIR SEPERATION/RECLAIMER TANK
        </ng-template><ng-template kendoTabContent>
            <app-air-separation (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-air-separation>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab class="text-success" [title]="'TEST/VACCUM PUMP'">
        <ng-template kendoTabTitle>
            <kendo-icon [name]="'check'" *ngIf="isTESTFilled" class="text-success iconSize"></kendo-icon>
            <kendo-icon [name]="'information'" *ngIf="!isTESTFilled" class="text-danger iconSize"></kendo-icon>
            TEST/VACCUM PUMP
        </ng-template> <ng-template kendoTabContent>
            <app-test-vaccum-pump (techCheckSave)="saveTechcheck($event)" (checkAllFields)="checkFields($event)"></app-test-vaccum-pump>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>

<div class="row col-md-12">
    <div class="col-md-6 p-1">
        <button class="w-100" kendoTooltip kendoRippleContainer (click)="onSave()"
            kendoButton>TECHNICIAN APPROVAL
        </button> 
    </div>
    <div class="col-md-6 p-1">
        <button *ngIf="displaySupervisorApproval" class="w-100" (click)="onSupervisorApproval()"
            kendoTooltip kendoRippleContainer kendoButton>SUPERVISOR APPROVAL
        </button>
        <kendo-combobox *ngIf="!displaySupervisorApproval" [(ngModel)]="supervisorApprovalData"
             [suggest]="true" placeholder="Select SUPERVISOR" (valueChange)="onSave()"
            class="form-control form-control-round" [textField]="'name'" [valuePrimitive]="true"
            [disabled]="!techComplete"   [data]="supervisorApprovalList" [valueField]="'eeid'">
        </kendo-combobox>
    </div>
</div>