<div class="register-box box-shadow-none card mb-0">
    <form [formGroup]="form" class="cust-form">
        <div class="card-block p-0">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <fieldset>
                        <legend>COMMENTS</legend>
                        <div class="row no-gutters m-0">
                            <div class="col-md-12 p-3 pt-0 pb-5">
                                <kendo-textarea placeholder="Notes" [cols]="130" [rows]="10" formControlName="comments"
                                (valueChange)="onChange($event)"   class="form-control form-control-round w-100">
                                </kendo-textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>