<div class="card">
    <div class="card-header d-flex flex-row justify-content-start">

        <div class="d-flex justify-content-between">
            <h4 class="p-r-10">Maintain Components</h4>
            <div *ngIf="menuService.isAddRight" class="wp-50 p-l-10 p-r-10">
                <button kendoTooltip title="Add" id="btnAdd" class="btn_icon" *ngIf="!isAdd" filter="button"
                    (click)="btnAdd();">
                </button>
            </div>
            <div *ngIf="menuService.isEditRight" class="wp-50 p-l-10 p-r-10">
                <button kendoTooltip title="Edit" id="btnEdit" class="btn_icon" *ngIf="!isEdit" filter="button"
                    (click)="btnEdit();">
                </button>
            </div>
            <div *ngIf="menuService.isAddRight || menuService.isEditRight" class="wp-50 p-l-10 p-r-10">
                <button kendoTooltip title="Cancel" id="btnCancel" class="btn_icon" filter="button"
                    (click)="btnCancel();" *ngIf="!isCancel">
                </button>
            </div>
            <div *ngIf="menuService.isAddRight || menuService.isEditRight" class="wp-50 p-l-10 p-r-10">
                <button kendoTooltip title="Save" id="btnSave" class="btn_icon" filter="button" *ngIf="!isSave"
                    (click)="onSave();">
                </button>
            </div>
        </div>
        <div class="d-flex ml-auto justify-content-between alignItemsCenter mt-1" style="width: 70%;">

            <div>

                <label class="label label-primary label-mersino">Inventory # {{invNumber}}</label>
                <label class="label label-primary  label-mersino">Date Created : {{cdate | date}}</label>
            </div>

            <div class="form-control1 displayFlex alignFlexEnd">

                <div style="border-right: 1px solid #878786;" class="m-r-20 p-r-20">
                    <button kendoTooltip title="Folder" id="btnFolder" class="btn_icon m-r-20" filter="button"
                        (click)="onFolderToggle()">
                        <!-- <img src="assets/images/PNG-48/Print.png" width="25" alt="" class="img-responsive"> -->
                    </button>
                    <button kendoTooltip title="Print" id="btnPrint" class="btn_icon" filter="button"
                        (click)="openExcel()">
                        <!-- <img src="assets/images/PNG-48/Print.png" width="25" alt="" class="img-responsive"> -->
                    </button>
                </div>
                <label>Active</label>
                <kendo-switch onLabel="Yes" offLabel="No" class="" style="width: auto;" [(ngModel)]="inactive"
                    [disabled]="isDisabled" (valueChange)="onActive($event)">
                </kendo-switch>
            </div>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="row">
            <kendo-splitter orientation="vertical">
                <kendo-splitter-pane>
                    <kendo-splitter>
                        <kendo-splitter-pane [collapsible]="true" size="35%">
                            <div class="pane-content">
                                <div class="col-md-12 mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-12 mb-3">
                                            <div class="row no-gutters m-0">
                                                <div class="col-md-12">
                                                    <div class="row no-gutters m-0">
                                                        <div class="col-md-6 p-1">
                                                            <label>Branch</label>
                                                            <kendo-combobox class="form-control form-control-round"
                                                                placeholder="Branches" [data]="branch" [suggest]="true"
                                                                [textField]="'value'" [valueField]="'code'"
                                                                [(ngModel)]="branchCode" (valueChange)="id=0;loadItems()"
                                                                [kendoDropDownFilter]="FilterOptions"  [filterable]="true" [valuePrimitive]="true">
                                                            </kendo-combobox>
                                                        </div>
                                                        <div class="col-md-6 p-1">
                                                            <label>List Components</label>
                                                            <kendo-combobox class="form-control form-control-round"
                                                                placeholder="Select Component Type" [data]="listCompType" [suggest]="true"
                                                                [textField]="'inventoryType'" [valueField]="'inventoryType'"
                                                                [(ngModel)]="componentType" (valueChange)="id=0;loadItems()"
                                                                [kendoDropDownFilter]="FilterOptions"  [filterable]="true" [valuePrimitive]="true">
                                                            </kendo-combobox>
                                                            <!-- <kendo-dropdownlist class="form-control form-control-round"
                                                                [data]="listCompType" [(ngModel)]="componentType"
                                                                [ngModelOptions]="{standalone: true}"
                                                                (valueChange)="loadItems()" [valuePrimitive]="true"
                                                                [textField]="'inventoryType'"
                                                                placeholder="Select Component Type"
                                                                [valueField]="'inventoryType'">
                                                            </kendo-dropdownlist> -->
                                                        </div>
                                                        <div class="col-md-2 p-1">
                                                            <label class="mt-1"> Active</label>
                                                        </div>
                                                        <div class="col-md-2 p-1">
                                                            <kendo-switch [(ngModel)]="isActive"
                                                                (valueChange)="id=0;setYard();loadItems()"
                                                                [ngModelOptions]="{standalone: true}" onLabel="Yes"
                                                                offLabel="All">
                                                            </kendo-switch>
                                                        </div>
                                                        <div class="col-md-2 p-1">
                                                            <label class="mt-1"> Yard</label>
                                                        </div>
                                                        <div class="col-md-2 p-1">
                                                            <kendo-switch [(ngModel)]="yard"
                                                                (valueChange)="id=0;setActive();loadItems()"
                                                                [ngModelOptions]="{standalone: true}" onLabel="Yes"
                                                                offLabel="No">
                                                            </kendo-switch>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div style="margin-left: 13px;">
                                            <span *ngIf="filterGreenTag" class="filterSpan pr-3">Green Tag:
                                                {{greenTag==true ? 'Yes' : 'All'}} <i style="margin-bottom: 4px;"
                                                    class="k-icon k-icon k-i-close-outline"
                                                    (click)="resetGreentag();columnApply();"></i></span>
                                            <span *ngIf="filterRedTag" class="filterSpan pr-3">Red Tag:
                                                {{redTag==true ? 'Yes' : 'All'}} <i style="margin-bottom: 4px;"
                                                    class="k-icon k-icon k-i-close-outline"
                                                    (click)="resetRedtag();columnApply();"></i></span>
                                            <span *ngIf="filterMajorRepair" class="filterSpan pr-3">Major repairs:
                                                {{majorRepairs==true ? 'Yes' : 'All'}} <i style="margin-bottom: 4px;"
                                                    class="k-icon k-icon k-i-close-outline"
                                                    (click)="resetMajorRepair();columnApply();"></i></span>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <kendo-grid [data]="viewData" kendoGridSelectBy [navigable]="true"
                                            [resizable]="true" [reorderable]="true" [sort]="sort"
                                            [ngClass]="((id == 0 && !isAdd) || ( id > 0 && !isEdit)) || selectedTab==tabs.tab2 ||selectedTab==tabs.tab3 ||selectedTab==tabs.tab4 ||selectedTab==tabs.tab5 ? '' :  'k-state-disabled'"
                                            (sortChange)="sortChange($event)" kendoGridSelectBy style="height: 65vh;"
                                            (columnResize)="resizeColumns($event)" [selectedKeys]="mySelection"
                                            (selectionChange)="editClick($event.selectedRows[0].dataItem.inventory_PK)"
                                            [sortable]="true" (columnReorder)="reorderColumns($event)"
                                            [sortable]="{allowUnsort: false, mode: multiple ? 'multiple' : 'single'}">
                                            <ng-template kendoGridToolbarTemplate>
                                                <!-- <div class="">
                                                    <a #anchor (click)="onToggle()">
                                                        <span class="k-icon k-i-more-vertical"></span>
                                                    </a>
                                                </div>
                                                <input placeholder="Search in all columns..." kendoTextBox
                                                    class="col-md-9" (input)="onFilter($event.target.value)" />
                                                <kendo-grid-spacer></kendo-grid-spacer>
                                                <span> Total : {{viewData.length}}</span>
                                                <kendo-grid-spacer></kendo-grid-spacer> -->
                                                <div class="">
                                                    <a #anchor (click)="onToggle()">
                                                      <span class="k-icon k-i-more-vertical"></span>
                                                    </a>
                                                  </div>
                                                  <div class="col-md-6 p-0">
                                                    <kendo-textbox [(ngModel)]="filterText" class="form-control form-control-round" (keydown.enter)="onFilter(filterText)"
                                                      placeholder="Search in all columns...">
                                                    </kendo-textbox>
                                                  </div>
                                                  <div class="col-md-1 p-0">
                                                    <i class="fa fa-search fa-2x" (click)="onFilter(filterText)"></i>
                                                  </div>
                                                  <div class="col-md-3 p-0">
                                                    Total : {{viewData.length}}
                                                  </div>
                                            </ng-template>
                                            <kendo-grid-column *ngFor="let column of viewColumns" [width]="column.width"
                                                field="{{column.Name}}" title="{{column.Text}}">
                                            </kendo-grid-column>
                                        </kendo-grid>
                                        <!-- <div *ngIf="loader" class="k-i-loading"></div> -->
                                    </div>
                                </div>

                            </div>
                        </kendo-splitter-pane>
                        <kendo-splitter-pane>
                            <div class="col-md-12 pane-content">
                                <hr>
                                <kendo-tabstrip class="custom mt-2" (tabSelect)="onTabSelect($event)" [keepTabContent]="true">
                                    <kendo-tabstrip-tab class="text-success" [title]="'Component Info'" *ngIf="isTab1"
                                        [selected]="true">
                                        <ng-template kendoTabContent>
                                            <app-components-info></app-components-info>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab [title]="'Service History'" *ngIf="isTab4" [disabled]="id<=0">
                                        <ng-template kendoTabContent>
                                            <app-component-service-history></app-component-service-history>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab [title]="'Activity'" *ngIf="isTab5" [disabled]="id<=0">
                                        <ng-template kendoTabContent>
                                            <app-component-activity></app-component-activity>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab [title]="'Notes'" *ngIf="isTab2" [disabled]="id<=0">
                                        <ng-template kendoTabContent>
                                            <app-components-notes></app-components-notes>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab [title]="'History'" *ngIf="isTab3" [disabled]="id<=0">
                                        <ng-template kendoTabContent>
                                            <app-components-history></app-components-history>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                </kendo-tabstrip>
                            </div>
                        </kendo-splitter-pane>
                    </kendo-splitter>
                </kendo-splitter-pane>
            </kendo-splitter>
        </div>
        <div class="custom_slider_popup" *ngIf="showFolder" style="width: 90% !important;height: 650px;">
            <kendo-popup [anchor]="anchor" #popup popupClass="content" style="width: 100%;">
                <div class="content" style="float: right;">
                    <i class="fa fa-2x fa-close mr-2" (click)="showFolder=false;"></i>
                </div>
                <!--    <div class="row m-0"> -->
                <app-networkdirectry></app-networkdirectry>
                <!-- </div> -->
            </kendo-popup>
        </div>
        <kendo-dialog title="Inactive Reason" *ngIf="!openinactiveReson" (close)="closeActiveDialog('cancel')"
            [minWidth]="250" [width]="650">
            <div class="row no-gutters m-0">
                <div class="col-md-12 p-1">
                    <kendo-textarea class="form-control form-control-round" [cols]="130" [rows]="3"
                        [(ngModel)]="inactiveReason" placeholder="">
                    </kendo-textarea>
                </div>
                <div class="col-md-12 p-1">
                    <div class="row no-gutters m-0">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <kendo-datepicker class="form-control form-control-round" calendarType="classic"
                                [(ngModel)]="inactiveDate">
                            </kendo-datepicker>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="col-md-12 p-1">
                    <div class="row no-gutters m-0">
                        <div class="col-md-6 p-1 text-right">
                            <label class="pr-3">Sold</label>
                        </div>
                        <div class="col-md-6 p-1">
                            <kendo-switch [(ngModel)]="soldSwitch" onLabel="Yes" offLabel="No">
                            </kendo-switch>
                        </div>
                    </div>
                </div>

            </div>
            <kendo-dialog-actions>
                <button kendoButton (click)="closeActiveDialog('yes')" primary="true">Ok</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
    <div class="backdrop" [style.display]="show ? 'block' : 'none'" style="z-index: 333333;">
    </div>
    <div class="custom_slider_popup" *ngIf="show" style="width: 800px !important;">
        <kendo-popup [anchor]="anchor" #popup popupClass="content" style="width: 100%;">
            <div class="content">
                <h5 class="k-window-titlebar k-dialog-titlebar">Advanced Filters</h5>
            </div>
            <div class="row no-gutters mr-2">
                <div class="col-md-8 p-0" style="border-right: 1px solid lightgray;">

                    <div class="row no-gutters">
                        <div class="col-md-4 text-right">
                            <label class="col-form-label">Green
                                Tag<em></em>:</label>&nbsp;
                        </div>
                        <div class="col-md-8">
                            <kendo-switch [(ngModel)]="greenTag" onLabel="Yes" offLabel="All"
                                (valueChange)="redTag=(greenTag==true?false:true)">
                            </kendo-switch>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-4 text-right">
                            <label class="col-form-label">Red
                                Tag<em></em>:</label>&nbsp;
                        </div>
                        <div class="col-md-8">
                            <kendo-switch [(ngModel)]="redTag" onLabel="Yes" offLabel="All"
                                (valueChange)="greenTag =(redTag ==true?false:true)">
                            </kendo-switch>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-4 text-right">
                            <label class="col-form-label">Major
                                Repairs<em></em>:</label>&nbsp;
                        </div>
                        <div class="col-md-8">
                            <kendo-switch [(ngModel)]="majorRepairs" onLabel="Yes" offLabel="All">
                            </kendo-switch>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="waves-effect waves-light" style="padding: 0px 5px; border-radius: 5px;">
                        <div *ngFor="let column of columns" class="col-xs-12 example-col">
                            <input type="checkbox" id="{{ column.Name }}" class="k-checkbox"
                                [disabled]="column.isDisable" [checked]="column.isCheck" [(ngModel)]="column.isCheck"
                                (change)="hideColumn()" />
                            <label class="k-checkbox-label" for="{{ column.Name }}">{{ column.Text
                                }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ml-2">
                <div class="k-actions k-actions-end">
                    <div class="k-columnmenu-actions">
                        <button class="k-button" (click)="columnApply()" type="button">Apply</button>
                        <button class="k-button" type="button" (click)="resetpopup()">Reset</button>
                        <button class="k-button k-primary" (click)="closepopup()" type="button">Close</button>
                    </div>
                </div>
            </div>
        </kendo-popup>
    </div>

    <kendo-dialog *ngIf="openedExcelDialog" title="Excel Print" (close)="openExcel()" [minWidth]="550" [width]="550">
        <div class="row no-gutters m-0">
            <div class="col-md-6 p-1">
                <button class="btn btn-md btn-block text-center" (click)="ExportData()">
                    Export Excel
                </button>
            </div>
            <div class="col-md-6 p-1">
                <button class="btn btn-md btn-block text-center" (click)="ExportReport()">
                    Comp Report
                </button>
            </div>
        </div>
    </kendo-dialog>
</div>