td {
  padding: 12px;
}

th {
  padding: 12px;
}

.callLog {
  background-color: #ffffc0;
}

.notes {
  background-color: #c0ffc0;
}

.alljobs {
  background-color: #c0ffff;
}

.activatedjobs {
  background-color: #c0c0ff;
}

.noclick {
  background-color: lightgray;
}
