
legend {
    width: auto !important;
    text-align: left !important;
    font-size: 1rem !important;
    margin-left: 30px;
}
.color-red{
    color: red;
    font-weight: bold !important;
    font-size: 12px;
}