
<ul >
  <li kendoTooltip title="Open Build Sheet folder in Fleet Books for this unit">
    <span>
      Build&nbsp;Sheet
    </span>
  </li>
  <li kendoTooltip title="Open Curves folder in Fleet Books for this unit">
    <span>
      Curves
    </span>
  </li>
  <li kendoTooltip title="Open Fleet Books for this unit">
    <span>
      Fleet&nbsp;Books
    </span>
  </li>
  <li kendoTooltip title="Open Movement folder in Fleet Books for this unit">
    <span>
      Movement
    </span>
  </li>
  <li kendoTooltip title="Open Pictures folder in Fleet Books for this unit">
    <span>
      Pictures
    </span>
  </li>
  <li kendoTooltip title="Show service history for this unit">
    <span>
      Service&nbsp;History
    </span>
  </li>
</ul>
