<div class="card">
  <div class="card-header d-flex flex-row justify-content-start">
    <div class="d-flex justify-content-between">
      <h4 class="p-r-10">AM Forecast</h4>
      <div class="wp-50 p-l-10 p-r-10" *ngIf="!isForecastFormVisible && !isNewForecastVisible">
        <button kendoTooltip title="Add" id="btnAdd" class="btn_icon" filter="button"
        *ngIf="menuService.isAddRight" (click)="onHandleFilters('add-forecast')"></button>
      </div>
      <div class="wp-50 p-l-10 p-r-10" *ngIf="!isForecastFormVisible && !isNewForecastVisible">
        <button kendoTooltip title="Delete" id="btnTrash" class="btn_icon" filter="button"
          (click)="onDeleteForecast()"></button>
      </div>
      <div class="wp-50 p-l-10 p-r-10" *ngIf="isForecastFormVisible && !isHideButtons">
        <button kendoTooltip title="Save" id="btnSave" class="btn_icon" filter="button"
        *ngIf="menuService.isAddRight || menuService.isEditRight" (click)="onSaveMonthRecord()"></button>
      </div>
      <div class="wp-50 p-l-10 p-r-10" *ngIf="isForecastFormVisible && !isHideButtons">
        <button kendoTooltip title="Cancel" id="btnCancel" class="btn_icon" filter="button"
        *ngIf="menuService.isAddRight || menuService.isEditRight"  (click)="onDeleteMonthRecord()"></button>
      </div>

      <div class="wp-50 p-l-10 p-r-10" *ngIf="isNewForecastVisible">
        <button kendoTooltip title="Save" id="btnSave" class="btn_icon" filter="button"
        *ngIf="menuService.isAddRight || menuService.isEditRight" (click)="onSaveMonthRecord()"></button>
      </div>
      <div class="wp-50 p-l-10 p-r-10" *ngIf="isNewForecastVisible">
        <button kendoTooltip title="Cancel" id="btnCancel" class="btn_icon" filter="button"
        *ngIf="menuService.isAddRight || menuService.isEditRight" (click)="onDeleteMonthRecord()"></button>
      </div>
    </div>
    <div class="d-flex ml-auto justify-content-between alignItemsCenter mt-1" style="width: 70%">
      <div>
        <label class="label label-primary label-mersino">Total {{ forecasts.length }}</label>
        <label class="label label-primary label-mersino">AM: {{ newYear }} ${{ amTotal }}
        </label>
        <label class="label label-primary label-mersino">Branch: {{ newBranch }} ${{ branchTotal }}
        </label>
      </div>
    </div>
  </div>
  <div class="card-block table-border-style">
    <div class="row no-gutters m-0">
      <div class="col-md-3 p-2">
        <button class="k-button w-100" type="button" style="font-size: 12px" (click)="onHandleFilters('employees')">
          AM: {{ acc_manager_btn || "All Account Managers" }}
        </button>
      </div>

      <div class="col-md-3 p-2">
        <button class="k-button w-100" type="button" style="font-size: 12px" (click)="onHandleFilters('branch')">
          {{ branch_btn }}
        </button>
      </div>

      <div class="col-md-3 p-2">
        <button class="k-button w-100" type="button" style="font-size: 12px" (click)="onHandleFilters('years')">
          {{ year_btn }}
        </button>
      </div>
      <div class="col-md-3 p-2">
        <button class="k-button w-100" type="button" style="font-size: 12px"  *ngIf="menuService.isEditRight" (click)="onAddMonthRecord()">
          Add / Update Month Record
        </button>
      </div>
    </div>
    <div class="row no-gutters m-0">
      <kendo-grid [selectable]="true" [navigable]="true" [resizable]="true" [reorderable]="true"
        (columnResize)="onResizeColumn($event)" (selectionChange)="onGridSelectionChange($event)" [data]="forecasts"
        [sort]="sortGrid" (sortChange)="sortGridChange($event)" kendoGridSelectBy [selectedKeys]="selections"
        [sortable]="true" (columnReorder)="onReOrderColumns($event)" [skip]="skip" style="height: 75vh"
        (dataStateChange)="onDataStateChange($event)" [sortable]="{
          allowUnsort: false,
          mode: multiple ? 'multiple' : 'single'
        }">
        <kendo-grid-column field="name" title="Name">
          <ng-template kendoGridCellTemplate let-dataItem>
            <label *ngIf="dataItem.name">{{ dataItem.name }}</label>
            <kendo-combobox *ngIf="!dataItem.name" class="form-control form-control-round" placeholder=""
              [data]="employees" [suggest]="true" [textField]="'name'" [valueField]="'employeeNumber'"
              [filterable]="true" [valuePrimitive]="true" (valueChange)="onValueChange($event, 'AM')">
            </kendo-combobox>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="branchName" title="Branch Name">
          <ng-template kendoGridCellTemplate let-dataItem>
            <label *ngIf="dataItem.name">{{ dataItem.branchName }}</label>
            <kendo-combobox class="form-control form-control-round" placeholder="" *ngIf="!dataItem.branchName"
              [data]="branchesData" [suggest]="true" [textField]="'value'" [valueField]="'code'" [filterable]="true"
              [valuePrimitive]="true" (valueChange)="onValueChange($event, 'Branch')">
            </kendo-combobox>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="yearNumber" title="Year Number">
          <ng-template kendoGridCellTemplate let-dataItem>
            <label *ngIf="dataItem.yearNumber">{{ dataItem.yearNumber }}</label>
            <kendo-numerictextbox class="form-control form-control-round" [spinners]="false"
              [format]="'################.##'" placeholder="" *ngIf="!dataItem.yearNumber"
              (focusout)="onValueChange($event, 'YearNumber')">
            </kendo-numerictextbox>


            <!-- <kendo-combobox class="form-control form-control-round" placeholder="" *ngIf="!dataItem.yearNumber"
                        [data]="yearDropdown" [suggest]="true" [textField]="'year'" [valueField]="'year'"
                        [filterable]="true" [valuePrimitive]="true" (valueChange)="onValueChange($event, 'Branch')">
                    </kendo-combobox> -->
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="monthNumber" title="Month Number">
          <ng-template kendoGridCellTemplate let-dataItem>
            <label *ngIf="dataItem.monthNumber">{{
              dataItem.monthNumber
              }}</label>
            <kendo-numerictextbox class="form-control form-control-round" [maxlength]="2" placeholder=""
              *ngIf="!dataItem.monthNumber" [spinners]="false" [format]="'n0'" [min]="min" [max]="max"
              (focusout)="onValueChange($event, 'MonthNumber')" [autoCorrect]="autoCorrect">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="monthGoal" title="Month Goal">
          <ng-template kendoGridCellTemplate let-dataItem>
            <label *ngIf="dataItem.monthGoal!== ''">${{ dataItem.monthGoal | number : '1.2-2' }}</label>
            <kendo-numerictextbox class="form-control form-control-round" placeholder="" [spinners]="false"
              [format]="'n0'" *ngIf="dataItem.monthGoal===''" (focusout)="onValueChange($event, 'MonthGoal')">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>

<kendo-dialog style="z-index: 99999" title="Employees" *ngIf="isEmployeeVisible" (close)="onHandleFilters('employees')"
  [minWidth]="250" [height]="500" [width]="550">
  <div class="row m-0">
    <div class="col-md-12 m-0">
      <div class="row no-gutters m-0">
        <div class="col-md-3 p-1">Employee Search</div>
        <div class="col-md-6 p-1">
          <kendo-textbox [ngModelOptions]="{ standalone: true }" class="form-control form-control-round"
            placeholder="Search Employee" (input)="onFilterEmployees($event.target.value)">
          </kendo-textbox>
        </div>
        <div class="col-md-3 p-1 text-right">
          EE Count: {{ employees.length }}
        </div>
      </div>
    </div>
    <div class="col-md-12 m-0">
      <kendo-grid [selectable]="true" [navigable]="true" [resizable]="true" [reorderable]="true"
        (columnResize)="onResizeColumn($event)" (selectionChange)="onRowSelect($event, 'employees')" [data]="employees"
        [sort]="sortEmployee" (sortChange)="sortEmployeeChange($event)" kendoGridSelectBy
        [selectedKeys]="employeeSelection" [sortable]="true" (columnReorder)="onReOrderColumns($event)" [skip]="skip"
        (dataStateChange)="onDataStateChange($event)" [sortable]="{
          allowUnsort: false,
          mode: multiple ? 'multiple' : 'single'
        }">
        <kendo-grid-column *ngFor="let column of employeeColumn" [width]="column.width" field="{{ column.Name }}"
          title="{{ column.Text }}">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</kendo-dialog>

<kendo-dialog style="z-index: 99999" title="Select Branch" *ngIf="isBranchVisible" (close)="onHandleFilters('branch')"
  [minWidth]="250" [height]="500" [width]="550">
  <div class="row m-0">
    <div class="col-md-12 m-0">
      <div class="row no-gutters m-0">
        <div class="col-md-3 p-1">Branch Search</div>
        <div class="col-md-6 p-1">
          <kendo-textbox [ngModelOptions]="{ standalone: true }" class="form-control form-control-round"
            placeholder="Search Branch" (input)="onFilterBranch($event.target.value)">
          </kendo-textbox>
        </div>
        <div class="col-md-3 p-1 text-right">Count: {{ branches?.length }}</div>
      </div>
    </div>
    <div class="col-md-12 m-0">
      <kendo-grid [selectable]="true" [navigable]="true" [resizable]="true" [reorderable]="true"
        (columnResize)="onResizeColumn($event)" (selectionChange)="onRowSelect($event, 'branch')" [data]="branches"
        [sort]="sortBranch" (sortChange)="sortBranchChange($event)" kendoGridSelectBy [selectedKeys]="branchSelecttion"
        [sortable]="true" (columnReorder)="onReOrderColumns($event)" [skip]="skip"
        (dataStateChange)="onDataStateChange($event)" [sortable]="{
          allowUnsort: false,
          mode: multiple ? 'multiple' : 'single'
        }" [hideHeader]="false">
        <kendo-grid-column *ngFor="let column of branchColumn" [width]="column.width" field="{{ column.Name }}"
          title="{{ column.Text }}">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</kendo-dialog>

<kendo-dialog style="z-index: 99999" title="Select Year" *ngIf="isYearsVisible" (close)="onHandleFilters('years')"
  [minWidth]="250" [height]="500" [width]="550">
  <div class="row m-0">
    <div class="col-md-12 m-0">
      <div class="row no-gutters m-0">
        <div class="col-md-3 p-1">Year Search</div>
        <div class="col-md-6 p-1">
          <kendo-textbox [ngModelOptions]="{ standalone: true }" class="form-control form-control-round"
            placeholder="Search Year" (input)="onFilterYear($event.target.value)">
          </kendo-textbox>
        </div>
        <div class="col-md-3 p-1 text-right">Count: {{ years.length }}</div>
      </div>
    </div>
    <div class="col-md-12 m-0">
      <kendo-grid [selectable]="true" [navigable]="true" [resizable]="true" [reorderable]="true"
        (columnResize)="onResizeColumn($event)" (selectionChange)="onRowSelect($event, 'years')" [data]="years"
        [sort]="sortYear" (sortChange)="sortYearChange($event)" kendoGridSelectBy [selectedKeys]="yearSelection"
        [sortable]="true" (columnReorder)="onReOrderColumns($event)" [skip]="skip" style="height: 75vh"
        (dataStateChange)="onDataStateChange($event)" [sortable]="{
          allowUnsort: false,
          mode: multiple ? 'multiple' : 'single'
        }" [hideHeader]="false">
        <kendo-grid-column *ngFor="let column of yearsData" [width]="column.width" field="{{ column.Name }}"
          title="{{ column.Text }}">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</kendo-dialog>
<kendo-dialog style="z-index: 99999" title="Select Screen" *ngIf="isNewYearVisible"
  (close)="onAddSelectionYearClick('years')" [minWidth]="250" [height]="500" [width]="550">
  <div class="row m-0">
    <div class="col-md-12 m-0">
      <div class="row no-gutters m-0">
        <div class="col-md-3 p-1">Search</div>
        <div class="col-md-6 p-1">
          <kendo-textbox [ngModelOptions]="{ standalone: true }" class="form-control form-control-round" placeholder=""
            (input)="onFilterYear($event.target.value)">
          </kendo-textbox>
        </div>
        <div class="col-md-3 p-1 text-right">
          Count: {{ yearDropdown.length }}
        </div>
      </div>
    </div>
    <div class="col-md-12 m-0">
      <kendo-grid [selectable]="true" [navigable]="true" [resizable]="true" [reorderable]="true"
        (columnResize)="onResizeColumn($event)" (selectionChange)="onRowSelect($event, 'years')" [data]="yearDropdown"
        [sort]="sortYear" (sortChange)="sortYearChange($event)" kendoGridSelectBy [selectedKeys]="yearSelection"
        [sortable]="true" (columnReorder)="onReOrderColumns($event)" [skip]="skip" style="height: 75vh"
        (dataStateChange)="onDataStateChange($event)" [sortable]="{
          allowUnsort: false,
          mode: multiple ? 'multiple' : 'single'
        }" [hideHeader]="true">
        <kendo-grid-column *ngFor="let column of yearsData" [width]="column.width" field="{{ column.Name }}"
          title="{{ column.Text }}">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</kendo-dialog>
<kendo-dialog *ngIf="isForecastFormVisible" (close)="onAddClick()" [minWidth]="250" [height]="320" [width]="350">
  <div class="row m-0">
    <div class="col-md-12 p-2">
      <button class="k-button w-100" type="button" style="font-size: 12px"
        (click)="onAddSelectionEmployeeClick('employees')">
        AM: {{ forecastForm.account_manager || "All Account Managers" }}
      </button>
    </div>

    <div class="col-md-12 p-2">
      <button class="k-button w-100" type="button" style="font-size: 12px"
        (click)="OnAddSelectionBranchClick('branch')">
        {{ employeeBranch || "Branch" }}
      </button>
    </div>

    <div class="col-md-12 p-2">
      <button class="k-button w-100" type="button" style="font-size: 12px" (click)="onAddSelectionYearClick('years')">
        {{ forecastForm.year || "Year" }}
      </button>
    </div>
    <div class="col-md-12 px-2">
      <label class="col-form-label pr-2">Year Goals:</label>
    </div>
    <div class="col-md-12">
      <kendo-textbox class="form-control form-control-round" [(ngModel)]="forecastForm.yearGoal" placeholder="">
      </kendo-textbox>
    </div>
  </div>
  <kendo-dialog-actions>
    <button kendoButton (click)="onAddForecast()">Add</button>
    <button kendoButton primary="true" (click)="onAddClick()">Cancel</button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog *ngIf="isErrorDialogVisible" (close)="onAddClick()" [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center">
    {{ error_message }}
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="onAddClick()">OK</button>
  </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog title="Delete Option" *ngIf="displayDeleteForecast" (close)="onDeleteForecast()" [minWidth]="250"
  [width]="450">
  <p style="margin: 30px; text-align: center">
    Choose from the following delete option<br />
    All - All the branch for {{ newEmployee }} for {{ selectedBranch }}
    <br />
    Current - Just current record for {{ newEmployee }}
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="onYesClickDeleteButton()" class="w-auto">
      All
    </button>
    <button kendoButton (click)="onNoClickDeleteButton()" class="w-auto">
      Current
    </button>
    <button kendoButton (click)="onDeleteForecast()" class="w-auto">
      Cancel
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
<!-- <kendo-dialog title="Save Cancelled" *ngIf="displayOverwriteForecast" (close)="onDisplayOverwriteForecast()" [minWidth]="250"
[width]="450">
<p style="margin: 30px; text-align: center;">
   Forescast method Already Exist for {{monthNumber}} of {{forecastForm.year}}.Do you want to overwrite it?
</p>
<kendo-dialog-actions>
    <button kendoButton (click)="onDisplayOverwriteForecastClick('Yes')" class="w-auto">Yes</button>
    <button kendoButton (click)="onDisplayOverwriteForecastClick('No')" class="w-auto">No</button>
</kendo-dialog-actions>
</kendo-dialog> -->

<kendo-dialog title="Save Cancelled" *ngIf="displayOverwriteForecast" (close)="onDisplayOverwriteForecast()"
  [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center">
    Forescast method Already Exist for
    {{ forecastForm.year }}.Do you want to overwrite it?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="onDisplayOverwriteForecastClick('Yes')" class="w-auto">
      Yes
    </button>
    <button kendoButton (click)="onDisplayOverwriteForecastClick('No')" class="w-auto">
      No
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog title="Save Cancelled" *ngIf="displayAddUpdateRecord" (close)="onDisplayAddUpdateRecord()"
  [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center">
    Forescast method Already Exist for {{ monthForm.MonthNumber }} of
    {{ monthForm.YearNumber }}.Do you want to overwrite it?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="onDisplayAddUpdateRecordClick()" class="w-auto">
      Yes
    </button>
    <button kendoButton (click)="onDisplayAddUpdateRecordClick()" class="w-auto">
      No
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog style="z-index: 99999" title="Select Branch" *ngIf="isNewBranchVisible"
  (close)="OnAddSelectionBranchClick('branch')" [minWidth]="250" [height]="500" [width]="550">
  <div class="row m-0">
    <div class="col-md-12 m-0">
      <div class="row no-gutters m-0">
        <div class="col-md-3 p-1">Branch Search</div>
        <div class="col-md-6 p-1">
          <kendo-textbox [ngModelOptions]="{ standalone: true }" class="form-control form-control-round"
            placeholder="Search Branch" (input)="onFilterBranch($event.target.value)">
          </kendo-textbox>
        </div>
        <div class="col-md-3 p-1 text-right">Count: {{ branches?.length }}</div>
      </div>
    </div>
    <div class="col-md-12 m-0">
      <kendo-grid [selectable]="true" [navigable]="true" [resizable]="true" [reorderable]="true"
        (columnResize)="onResizeColumn($event)" (selectionChange)="onRowSelect($event, 'branch')" [data]="branchesData"
        [sort]="sortBranch" (sortChange)="sortBranchChange($event)" kendoGridSelectBy [selectedKeys]="branchSelecttion"
        [sortable]="true" (columnReorder)="onReOrderColumns($event)" [skip]="skip"
        (dataStateChange)="onDataStateChange($event)" [sortable]="{
          allowUnsort: false,
          mode: multiple ? 'multiple' : 'single'
        }" [hideHeader]="false">
        <kendo-grid-column *ngFor="let column of branchColumn" [width]="column.width" field="{{ column.Name }}"
          title="{{ column.Text }}">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</kendo-dialog>