<form>
  <div class="card-header d-flex flex-row justify-content-start">
    <div class="d-flex justify-content-between">
      <h4 class="p-r-10">Maintain Auto Mailers</h4>
      <div class="d-flex" *ngIf="selectedTab !== 'Report Routing'">
        <div class="wp-50 p-l-10 p-r-10">
          <div *ngIf="!disableMaintainITForm">
            <button
              kendoTooltip
              title="Add"
              id="btnAdd"
              class="btn_icon"
              filter="button"
              *ngIf="menuService.isAddRight"
              (click)="onHandleOperation('new')"
            ></button>
          </div>
          <div *ngIf="disableMaintainITForm">
            <button
              kendoTooltip
              title="Cancel"
              id="btnCancel"
              class="btn_icon"
              filter="button"
              *ngIf="menuService.isAddRight || menuService.isEditRight"
              (click)="onHandleOperation('cancel')"
            ></button>
          </div>
        </div>
        <div class="wp-50 p-l-10 p-r-10">
          <div *ngIf="!disableMaintainITForm">
            <button
              kendoTooltip
              title="Edit"
              id="btnEdit"
              class="btn_icon"
              filter="button"
              *ngIf="menuService.isEditRight"
              (click)="onHandleOperation('edit')"
            ></button>
          </div>
          <div *ngIf="disableMaintainITForm">
            <button
              kendoTooltip
              title="Save"
              id="btnSave"
              class="btn_icon"
              filter="button"
              *ngIf="menuService.isAddRight || menuService.isEditRight"
              (click)="onHandleOperation('save')"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block table-border-style">
        <kendo-tabstrip class="custom mt-2" (tabSelect)="onTabChange($event)" >
          <kendo-tabstrip-tab
            class="text-success"
            [title]="'Report Routing'"
            [selected]="true"
          >
            <ng-template kendoTabContent>
              <app-main-report-routing></app-main-report-routing>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab class="text-success" [title]="'IT'">
            <ng-template kendoTabContent>
              <app-main-auto-it
                [isSavebuttonclick]="isSavebuttonclick"
                [isAddbuttonclick]="isAddbuttonclick"
                [isEditbuttonclick]="isEditbuttonclick"
                [isCancelbuttonclick]="isCancelbuttonclick"
                (isITDataSaved)="saveITData($event)"
                (isITDatanotSaved)="notsaveITData($event)"
              >
              </app-main-auto-it>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
      </div>
</form>
