.border-top{
    border-top: 1px solid #dee2e6;
    padding-top:15px
}
.h-30{
    height: 40px;
}
.custom_slider_popup1{
    width: 80vw !important;  
    position: fixed !important;
}
.legend {
    width: auto !important;
    text-align: left !important;
    font-size: 1.2rem !important;
    margin-left: 30px;
}
.h-70vh{
    height: 70vh !important;
}
.tab-scrollable {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}