legend {
    width: auto !important;
    text-align: left !important;
    margin-left: 30px;
    padding-left: 5px;
    padding-right:5px;
    font-size: 1rem !important;
}
.br_div {
    border-right: 5px solid;
}