<div style="max-height: 65vh; overflow: auto;">
    <div class="row no-gutters">
        <kendo-grid [selectable]="true" [navigable]="true" [data]="data" [sort]="sort" (sortChange)="sortChange($event)"
            kendoGridSelectBy [resizable]="true" [selectedKeys]="mySelection" [sortable]="true" [skip]="skip"
            style="height: 30vh;" [sortable]="{allowUnsort: false, mode: multiple ? 'multiple' : 'single'}">
            <ng-template kendoGridToolbarTemplate>
                <input placeholder="Search in all columns..." kendoTextBox class="col-md-9"
                    (input)="onFilter($event.target.value)" />
                <kendo-grid-spacer></kendo-grid-spacer>
                <span> Total : {{data?.length}}</span>
            </ng-template>
            <kendo-grid-column field="serviceNumber" title="Service Number" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>{{dataItem.serviceNumber}}</lable>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="repairedDate" title="Date Repaired" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>{{dataItem.repairedDate | date}}</lable>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="status" title="Status" [width]="100">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>{{dataItem.status}}</lable>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="employeeName" title="Employee Name" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>{{dataItem.employeeName}}</lable>
                </ng-template>
            </kendo-grid-column>

            <!-- <kendo-grid-column field="note" title="Note">
            <ng-template kendoGridCellTemplate let-dataItem>
                <lable>{{dataItem.note}}</lable>
            </ng-template>
        </kendo-grid-column> -->
        </kendo-grid>
        <!-- <div *ngIf="loader" class="k-i-loading"></div> -->
    </div>


    <div class="row no-gutters">
        <kendo-grid [selectable]="true" [data]="searviceHeaderParts" [sort]="sort"
            (sortChange)="sortChangeDetail($event)" kendoGridSelectBy [sortable]="true" [skip]="skip"
            style="height: 30vh;" [resizable]="true"
            [sortable]="{allowUnsort: false, mode: multiple ? 'multiple' : 'single'}">
            <ng-template kendoGridToolbarTemplate>
                <input placeholder="Search in all columns..." kendoTextBox class="col-md-9"
                    (input)="onFilterDetail($event.target.value)" />
                <kendo-grid-spacer></kendo-grid-spacer>
                <span> Total : {{searviceHeaderParts?.length}}</span>
            </ng-template>
            <kendo-grid-column field="partNumber" title="Part Number" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>{{dataItem.partNumber}}</lable>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="description" title="Description" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>{{dataItem.description}}</lable>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="quantity" title="Quantity" [width]="80">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>{{dataItem.quantity}}</lable>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="listPrice" title="Price" [width]="80">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>${{dataItem.listPrice | number : '1.2-2' }}</lable>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="total" title="Total" [width]="80">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <lable>${{(dataItem.total) | number : '1.2-2'}}</lable>
                </ng-template>
            </kendo-grid-column>

        </kendo-grid>
        <!-- <div *ngIf="loader" class="k-i-loading"></div> -->
    </div>

    <div class="row no-gutters mt-3">
        <div class="col-md-12">
            <div class="form-group row no-gutters">
                <div class="col-md-1 text-right">
                    <label class="col-form-label pr-2">Notes:</label>
                </div>
                <div class="col-md-11">
                    <kendo-textarea [(ngModel)]="serviceNote" placeholder="Notes" [cols]="130" [rows]="3"
                        class="form-control form-control-round">
                    </kendo-textarea>
                </div>
            </div>
        </div>
    </div>

</div>