<form [formGroup]="employeeForm">
    <div class="card">
        <div class="card-header d-flex flex-row justify-content-start">
            <div class="d-flex justify-content-between">
                <h4 class="p-r-10">Maintain Employee</h4>
                <div class="wp-50 p-l-10 p-r-10" *ngIf="!isCreatable && !isEditable">
                    <button kendoTooltip title="Add" id="btnAdd" class="btn_icon" filter="button"
                    *ngIf="menuService.isAddRight" (click)="onHandleOperation('new')">
                    </button>
                </div>
                <div class="wp-50 p-l-10 p-r-10" *ngIf="!isCreatable && !isEditable">
                    <button kendoTooltip title="Edit" id="btnEdit" class="btn_icon" filter="button"
                    *ngIf="menuService.isEditRight"  (click)="onHandleOperation('edit')">
                    </button>
                </div>

                <div class="wp-50 p-l-10 p-r-10" *ngIf="isCreatable && isEditable">
                    <button kendoTooltip title="Cancel" id="btnCancel" class="btn_icon" filter="button"
                    *ngIf="menuService.isAddRight || menuService.isEditRight" (click)="onHandleOperation('cancel')">
                    </button>
                </div>
                <div class="wp-50 p-l-10 p-r-10" *ngIf="isCreatable && isEditable">
                    <button kendoTooltip title="Save" id="btnSave" class="btn_icon" filter="button"
                    *ngIf="menuService.isAddRight || menuService.isEditRight"  (click)="onHandleOperation('save')">
                    </button>
                </div>
            </div>
            <div class="d-flex ml-auto justify-content-between alignItemsCenter mt-1" style="width: 70%;">
                <div>
                    <label class="label label-primary label-mersino">EE# {{employeeForm.get('code').value}} </label>
                    <label class="label label-primary  label-mersino">Name: {{employeeForm.get('firstName').value}}
                        {{employeeForm.get('lastName').value}}</label>
                    <!-- <label class="label label-primary label-mersino">DOT </label> -->
                    <label class="label label-primary  label-mersino">Date Created:
                        {{employeeForm.get('startDate').value | date: 'MM/dd/yyyy'}}</label>
                </div>

                <div class="form-control1 displayFlex alignFlexEnd">
                    <label>Active</label>
                    <kendo-switch onLabel="Yes" offLabel="No" class="" style="width: auto;"
                        (valueChange)="onStatusChange($event)" formControlName="inactive">
                    </kendo-switch>
                </div>
            </div>
        </div>
        <div class="card-block table-border-style pb-0">
            <div class="row">
                <kendo-splitter orientation="vertical">
                    <kendo-splitter-pane>
                        <kendo-splitter>
                            <kendo-splitter-pane [collapsible]="true" size="30%">
                                <div class="row m-2">
                                    <div class="col-md-6">
                                        <label>Status</label>
                                        <kendo-dropdownlist [data]="statuses" [textField]="'label'"
                                            [valueField]="'value'" [valuePrimitive]="true" value="active">
                                        </kendo-dropdownlist>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Branch</label>
                                        <kendo-multiselect class="form-control form-control-round" placeholder="Branch"
                                            [data]="branches" #multiselect [valueField]="'type'" [textField]="'type'"
                                            [filterable]="true" [valuePrimitive]="true" [value]="['All']">
                                        </kendo-multiselect>
                                    </div>
                                </div>
                                <kendo-grid [selectable]="true" [navigable]="true" [resizable]="true"
                                    [reorderable]="true" (columnResize)="onResizeColumn($event)"
                                    (selectionChange)="onSelectionChange($event)" [data]="employees"
                                    [sort]="employeeSort" (sortChange)="onSortChange($event)" kendoGridSelectBy
                                    [selectedKeys]="employeeSelection" [sortable]="true"
                                    (columnReorder)="onReOrderColumns($event)" [skip]="skip" style="height: 75vh;"
                                    (dataStateChange)="onDataStateChange($event)"
                                    [sortable]="{allowUnsort: false, mode: multiple ? 'multiple' : 'single'}">
                                    <kendo-grid-column *ngFor="let column of employeesColumns" [width]="column.width"
                                        field="{{column.Name}}" title="{{column.Text}}">
                                    </kendo-grid-column>
                                    <ng-template kendoGridToolbarTemplate>
                                        <input placeholder="Search in all columns..." kendoTextBox class="col-md-12"
                                            (input)="onFilter($event.target.value)" />
                                    </ng-template>
                                </kendo-grid>
                            </kendo-splitter-pane>
                            <kendo-splitter-pane>
                                <div class="row mb-2">
                                    <div class="col-md-1 ml-2">
                                        <label class="col-form-label">Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <kendo-textbox formControlName="firstName" [disabled]="disableEmployee">
                                        </kendo-textbox>
                                    </div>
                                    <div class="col-md-3">
                                        <kendo-textbox formControlName="lastName" [disabled]="disableEmployee">
                                        </kendo-textbox>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="k-button col-md-12 w-100 request-date py-2" type="button"
                                            style="font-size: 12px;" (click)="start_date_btn.toggle()">Start Date:
                                            {{employeeForm.get('startDate').value | date: 'MM/dd/yyyy'}}
                                            <kendo-datepicker class=" form-control form-control-round"
                                                calendarType="classic" #start_date_btn
                                                (valueChange)="onHandleOperation('start_date', $event)"
                                                [disabled]="disableEmployee">
                                            </kendo-datepicker>
                                        </button>
                                    </div>

                                </div>
                                <kendo-tabstrip>
                                    <kendo-tabstrip-tab class="text-success" [title]="'Personal Info'"
                                    *ngIf="!isTab1"  [selected]="true">
                                        <ng-template kendoTabContent>
                                            <app-employee-personal-info [employee]="employeeForm"
                                                (onSaveForm)="onSaveForm" [disableEmployee]="disableEmployee">
                                            </app-employee-personal-info>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab class="text-success" [title]="'Work Info'" *ngIf="!isTab2">
                                        <ng-template kendoTabContent>
                                            <app-employee-work-info [employee]="employeeForm"
                                                [disableEmployee]="disableEmployee"></app-employee-work-info>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab class="text-success" [title]="'PTO/Activity'" *ngIf="!isTab3">
                                        <ng-template kendoTabContent>
                                            <app-employee-activity-pto [employee]="employeeForm"
                                                [disableEmployee]="disableEmployee">
                                            </app-employee-activity-pto>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab class="text-success" [title]="'Notes'" *ngIf="!isTab4">
                                        <ng-template kendoTabContent>
                                            <app-employee-notes></app-employee-notes>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab class="text-success" [title]="'History'" *ngIf="!isTab5">
                                        <ng-template kendoTabContent>
                                            <app-employee-history></app-employee-history>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                </kendo-tabstrip>
                                <div class="row no-gutters">
                                    <div class="col-md-12">
                                        <kendo-tabstrip class="custom mt-2">
                                            <kendo-tabstrip-tab class="text-success" [selected]="true"
                                                [title]="'Certs'" *ngIf="!isTab6">
                                                <ng-template kendoTabContent>
                                                    <app-employee-certification></app-employee-certification>
                                                </ng-template>
                                            </kendo-tabstrip-tab>
                                            <kendo-tabstrip-tab class="text-success" [title]="'Equip'" *ngIf="!isTab7">
                                                <ng-template kendoTabContent>
                                                    <app-employee-equip></app-employee-equip>
                                                </ng-template>
                                            </kendo-tabstrip-tab>
                                        </kendo-tabstrip>
                                    </div>
                                </div>
                            </kendo-splitter-pane>
                        </kendo-splitter>
                    </kendo-splitter-pane>
                </kendo-splitter>
            </div>
        </div>
    </div>
</form>

<kendo-dialog title="Select Branch" *ngIf="isbranchVisible" (close)="onHandleFilters('branch')" [minWidth]="250"
    [height]="500" [width]="550">
    <div class="row m-0">
        <div class="col-md-12 m-0">
            <div class="row no-gutters m-0">
                <div class="col-md-3 p-1">
                    Search
                </div>
                <div class="col-md-6 p-1">
                    <kendo-textbox [ngModelOptions]="{standalone: true}" class="form-control form-control-round"
                        placeholder="">
                    </kendo-textbox>
                </div>
                <div class="col-md-3 p-1 text-right">
                    Count: {{branches.length}}
                </div>
            </div>
        </div>
        <div class="col-md-12 m-0">
            <kendo-grid [selectable]="true" [navigable]="true" [resizable]="true" [reorderable]="true"
                (columnResize)="onResizeColumn($event)" (selectionChange)="onRowSelect($event, 'branch')"
                [data]="branches" [sort]="sort" (sortChange)="onSortChange($event)" kendoGridSelectBy
                [selectedKeys]="selections" [sortable]="true" (columnReorder)="onReOrderColumns($event)" [skip]="skip"
                style="height: 75vh;" (dataStateChange)="onDataStateChange($event)"
                [sortable]="{allowUnsort: false, mode: multiple ? 'multiple' : 'single'}" [hideHeader]="true">
                <kendo-grid-column *ngFor="let column of " [width]="column.width" field="{{column.Name}}"
                    title="{{column.Text}}">
                </kendo-grid-column>

            </kendo-grid>
        </div>
    </div>
</kendo-dialog>

<kendo-dialog title="MDI3.0" *ngIf="isActiveConfirmation" (close)="onHandleOperation('active_confirmation')"
    [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">
        Terminate {{employeeForm.get('firstName').value}} {{employeeForm.get('lastName').value}} ?
    </p>
    <kendo-dialog-actions>
        <button kendoButton primary="true" (click)="onHandleOperation('active_confirmed')">Yes</button>
        <button kendoButton (click)="onHandleOperation('active_confirmation')">No</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="MDI3.0" *ngIf="isActiveConfirmed" (close)="onHandleOperations('active_confirmed')" [minWidth]="250"
    [width]="450">
    <p>Enter reason for making {{employeeForm.get('firstName').value}} {{employeeForm.get('lastName').value}} inactive.
    </p>
    <kendo-textbox></kendo-textbox>
    <kendo-dialog-actions>
        <button kendoButton class="request-date" primary="true" (click)="active_confirmed_btn.toggle()">OK
            <kendo-datepicker class=" form-control form-control-round" calendarType="classic"
                (valueChange)="onHandleOperation('active_confirmed')" #active_confirmed_btn>
            </kendo-datepicker>
        </button>
        <button kendoButton (click)="onHandleOperation('active_confirmed')">Cancel</button>

    </kendo-dialog-actions>
</kendo-dialog>