.border-top{
  border-top: 1px solid #dee2e6;
  padding-top:15px
}
legend {
  width: auto !important;
  text-align: left !important;
  font-size: 1rem !important;
  margin-left: 30px;
}
.overflow-auto{
  overflow: auto !important;
}