<div class="table-responsive">
    <table class="table table-striped table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Invoice | Note</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-secondary color-white">
          <td><i class="fa fa-minus"></i> Job
            37826 | Cape Canaveral ULA Launch |
            $550.00</td>
        </tr>
        <tr class="bg-primary">
          <td>&nbsp;&nbsp;&nbsp;<i class="fa fa-minus"></i>
            Invoice: Inv# 73490 - Delivery/Pickp
            3/24 - -/27/2020 | 03-31-2020 |
            $550.00</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inv#
            73490 - De.. No collection notes
            founds on this invoice</td>
        </tr>
      </tbody>
    </table>
  </div>